html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.kontakt {text-align: center;
    background-color: #464646;
}


.kontakt li {display: inline-block;
    padding:  0.5rem 0;
}

.kontakt a {padding: 3rem;
            color: #949494;
            
}

h1 {font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 10rem 0 3rem 0;
    text-align: center;
    }

body{color: #464646;
    background-color:#ededed;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
}

   
.logo-kp {width: 30%;
    border-radius: 3px;
    margin: -21rem 1rem 1rem 0rem;
}    

nav {text-align: center; 
    
}

nav img {display: inline-block;
         width: 28%;
        margin: 0 0.1rem 0 0.1rem;
    }
